<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.submission3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".application.Appliaction"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.SearchMovieActivity" />

        <receiver android:name=".widget.MovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/movie_widget_info" />
        </receiver>

        <service
                android:name=".service.WidgetServices"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
                android:name=".activity.DetailMovieActivity"
                android:theme="@style/AppThemeCustom" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".service.AlarmService"
                android:enabled="true"
                android:exported="false" />

        <receiver android:name=".service.UpcomingService"
                android:enabled="true"
                android:exported="false"/>

        <provider
                android:name=".provider.MovieProvider"
                android:authorities="com.example.submission3.provider"
                android:exported="true"
                android:multiprocess="true" />

    </application>

</manifest>